html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "Avenir";
      line-height: 1.4;
      color: rgb(59, 59, 59);
}

#body {
      width: 100%;
      height: 100%;
      margin: auto;
      text-align: center;
      overflow: scroll;
      background: linear-gradient(to right, #304352, #8E9EAB, #D7D2CC);
}

header {
      margin:0;
      display:flex;
      align-items:center;
      justify-content: center;
      background-size: cover;  
}

#carrousel{
      height: 400px;
      width: 1650px;
      overflow :hidden;
      position: relative;
}

#container{
      height: 350px;
      width: 550px;
}

.images {
      margin-top: 10px;
      width:500px;
      height:350px;
      margin-right:5px;
      display:inline-block;
      background-size:cover;
      border: solid #ffffff;
      border-radius: 50px;
      box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
}

.btnCaro {
      position: absolute;
      width : 70px;
      cursor: pointer;
      top: 130px;
      margin: 10px;
}

#gauche{
      left:0;
      opacity: 0.7;
      transform:rotate(-90deg);
      transition: all 0.3s ease;
}

#droite{
      right:0;
      opacity: 0.7;
      transform:rotate(90deg);
      transition: all 0.3s ease;
}

#gauche:hover{
      opacity: 1;
      transform:rotate(-90deg) scale(1.1);
}

#droite:hover{
      opacity: 1;
      transform: rotate(90deg) scale(1.1);
}

.choices {
      position: relative;
      display: flex;
      justify-content: center;
}

.btnChoice {
      width: 150px;
      height: 150px;
      margin: 30px;
      border-radius: 50%;
      border: solid whitesmoke;
      background-size: 150px 150px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
}

.btnChoice:hover {
      box-shadow: 2px 8px 45px rgba(0, 0, 0, .55);
      transform: /*rotate(360deg)*/ translate3D(0, -2px, 0);
}

#disney {
      background-image: url("../img/disney.gif");
}

#ghibli {
      background-image: url("../img/ghibli.gif");
}

#minions {
      background-image: url("../img/minions.gif");
}

#main {
      width: 600px;
      height: 670px;
      border-radius: 10px;
      margin: auto;
}

#divDisney {
      display: none;
}

#divGhibli {
      display: none;
}

#divMinions {
      display: none;
}

#charImg {
      width: 200px;
}

.titlebox {
      padding-top: 18px;
      padding-bottom: 28px;
      box-sizing: border-box;
      height: 120px;
      max-width: 669px;
      min-width: 128px;
      background-color: #EBEBEB;
      margin: 0 auto;
      margin-top: 24px;
      border-radius: 10px;
}

.titlebox h1 {
      font-size: 18px;
      letter-spacing: 1.69px;
      color: black;
      font-family: "Kiwi Maru" !important;
      font-weight: 400 !important;
      margin-block-start: 0px !important;
}

.titlebox select {
      cursor: pointer;
      font: 400 14px "Roboto Condensed";
      letter-spacing: 1.69px;
      height: 36px;
      padding: 5px;
}

#banner {
      height: 150px;
}

.descriptioncontainer {
      padding: 25px;
      height: 500px;
      max-height: 1000px;
      width: 550px;
      min-width: 128px;
      background-color: #EBEBEB;
      margin: auto;
      margin-top: 24px;
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      color:  black !important;
      letter-spacing: 1.5px;
      font-size: 14px;
      margin: 0 auto;
}

#greet {
      font-size: 50px;
      margin-bottom: 0;
}

#translatorIntro {
      font-size: 15px;
      margin-top: 30px;
}

#imgPotatos {
      border-radius: 10px;
      box-shadow: 10px #304352;
}

#txtInput {
      width: 460px;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      font-family: "Avenir" !important;
}

#btnTranslate {
      margin: auto;
      width: 170px;
      cursor: pointer;
}

.btnTranslate:hover {
      transform: rotate(360deg);
}

#txtOutput {
      width: 460px;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      background: #EDE9D4;
}

#logo {
      margin-top: 40px;
      width: 150px;
      justify-content: center;
      position: inherit;
}