html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "Avenir";
      line-height: 1.4;
      color: rgb(85, 85, 85);
}

body {
      width: 100%;
      height: 100%;
      margin: auto;
      text-align: center;
      overflow: scroll;
      background: linear-gradient(to right, #304352, #8E9EAB, #D7D2CC);
}

header {
      margin-top: 10px;
      display: flex;
      justify-content: center;
}

#carrousel{
      height: 350px;
      width: 600px;
      border: solid #ffffff;
      overflow :hidden;
      position: relative;
      border-radius: 40px;
      box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
}

#container {
      height: 350px;
      width: 600px;
}

.images {
      width:600px;
      height:350px;
      margin:0;
      display:inline-block;
      background-size:cover;
}

.choices {
      position: relative;
      display: flex;
      justify-content: center;
}

.btnChoice {
      width: 150px;
      height: 150px;
      margin: 30px;
      border-radius: 50%;
      border: solid whitesmoke;
      background-size: 150px 150px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
}

.btnChoice:hover {
      box-shadow: 2px 8px 45px rgba(0, 0, 0, .55);
      transform: /*rotate(360deg)*/ translate3D(0, -2px, 0);
      }

#disney {
      background-image: url("../img/disney.gif");
}

#ghibli {
      background-image: url("../img/ghibli.gif");
}

#minions {
      background-image: url("../img/minions.gif");
}

#main {
      width: 600px;
      height: 670px;
      border-radius: 10px;
      margin: auto;
}

#divDisney {
      display: none;
}

#divGhibli {
      display: none;
}

#divMinions {
      display: none;
}

.titlebox {
      padding-top: 18px;
      padding-bottom: 28px;
      box-sizing: border-box;
      height: 120px;
      max-width: 669px;
      min-width: 128px;
      background-color: #EBEBEB;
      margin: 0 auto;
      margin-top: 24px;
      border-radius: 10px;
}

.titlebox h1 {
      font-size: 18px;
      letter-spacing: 1.69px;
      color: black;
      font-family: "Kiwi Maru" !important;
      font-weight: 400 !important;
      margin-block-start: 0px !important;
}

.titlebox select {
      cursor: pointer;
      font: 400 14px "Roboto Condensed";
      letter-spacing: 1.69px;
      height: 36px;
      padding: 5px;
}

#banner {
      height: 150px;
}

.descriptioncontainer {
      padding: 25px;
      height: 500px;
      max-height: 1000px;
      width: 565px;
      min-width: 128px;
      background-color: #EBEBEB;
      margin: 0 auto;
      margin-top: 24px;
      overflow-y: scroll;
      overflow-x: auto;
      position: relative;
      border-radius: 10px;
      color:  black !important;
      letter-spacing: 1.5px;
      font-size: 14px;
      margin: 0 auto;
}

#greet {
      font-size: 50px;
      margin-bottom: 0;
}

#translatorIntro {
      font-size: 15px;
      margin-top: 30px;
}

#imgPotatos {
      border-radius: 10px;
      box-shadow: 10px #304352;
}

#txtInput {
      width: 460px;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      font-family: "Avenir" !important;
}

#btnTranslate {
      margin: 30px;
      padding: 15px;
      background-image: url("../img/banana.png");
      transition: all 0.7s ease-in-out;
      cursor: pointer;
}

#txtOutput {
      width: 460px;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      background: #EDE9D4;
}

#logo {
      margin-top: 40px;
      width: 150px;
      justify-content: center;
      position: inherit;
}